<!DOCTYPE html>
<html>
  <head>
    <title>TwinThread</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
    <h4 class="logo">TwinThread</h4>
      <ul class="nav-links">
        <li class="nav-item"><a href=<%= tassets_path %>>Assets</a></li>
        <li class="nav-item"><a href=<%= critical_tassets_path %>>Critical</a></li>
        <li class="nav-item"><a href=<%= tclasses_path %>>Classes</a></li>
        <li class="nav-item"><a href=<%= parent_tassets_path %>>Parents</a></li>
      </ul>
    </nav>

    <div class="container"  role="main">
      <%= yield %>
    </div>
  </body>
</html>
